<ion-view>

  <ion-content scroll="false" class="materialList-cont">

    <div>
      <div class="bar row">
        <div class="col" ng-class="{'active': subTabActive == 0}"  ng-click="viewMaterialTab('tabs.materialHeader.video')">
          <i class="icon ion-android-film"></i>
        </div>
        <div class="col" ng-class="{'active': subTabActive == 1}"  ng-click="viewMaterialTab('tabs.materialHeader.image')">
          <i class="icon ion-image"></i>
        </div>
        <div class="col" ng-class="{'active': subTabActive == 2}" ng-click="viewMaterialTab('tabs.materialHeader.sound')">
          <i class="icon ion-android-microphone"></i>
        </div>
      </div>
    </div>

    <ion-nav-view></ion-nav-view>

  </ion-content>
</ion-view>
