<ion-view>

  <ion-content scroll="false" class="media-cont material-cont">

    <div>
      <label class="toggle toggle-balanced media-custom-toggle">
        <input type="checkbox" ng-model="view.grid" ng-init="view.grid = true">
        <div class="track">
          <i class="icon ion-grid"></i>
          <i class="icon ion-navicon"></i>
          <div class="handle"></div>
        </div>
      </label>
    </div>

    <ion-scroll ng-if="view.grid">

      <p class="noResult-cont" ng-if="indicationsList.length == 0 && !loading">
        No se encontraron resultados
      </p>

      <div class="media-grid-item" ng-repeat="media in indicationsList track by $index" ng-click="viewMaterialInfo(media)">
        <img ng-src="{{'https://img.youtube.com/vi/' + media.media_material.uri + '/0.jpg'}}" ng-if="media.media_material.type == 'type.video'">
        <img ng-src="{{'http://docs.google.com/uc?export=open&id=' + media.media_material.uri}}" ng-if="media.media_material.type == 'type.image'">
        <img src="img/audio-grid.png" ng-if="media.media_material.type == 'type.audio'">
      </div>

      <ion-infinite-scroll on-infinite="loadMore()" ng-if="moreData" immediate-check="true" distance="1%"></ion-infinite-scroll>

    </ion-scroll>

    <ion-scroll ng-if="!view.grid">

      <p class="noResult-cont" ng-if="indicationsList.length == 0 && !loading">
        No se encontraron resultados
      </p>

      <div class="media-list-item" ng-repeat="media in indicationsList track by $index" ng-click="viewMaterialInfo(media)">
        <div>
          <img ng-src="{{'https://img.youtube.com/vi/' + media.media_material.uri + '/0.jpg'}}" ng-if="media.media_material.type == 'type.video'">
          <img ng-src="{{'http://docs.google.com/uc?export=open&id=' + media.media_material.uri}}" ng-if="media.media_material.type == 'type.image'">
          <img src="img/audio-list.png" ng-if="media.media_material.type == 'type.audio'">
        </div>
        <p>{{media.name || "Indicación"}}</p>
        <div>
          <span ng-repeat="goal in media.goals track by $index">
            {{goal.name}}
          </span>
        </div>
      </div>

      <ion-infinite-scroll on-infinite="loadMore()" ng-if="moreData" immediate-check="true" distance="1%"></ion-infinite-scroll>

    </ion-scroll>

  </ion-content>
</ion-view>
