<ion-view>

  <ion-header-bar class="mediaForm-header">
    <div class="buttons">
      <button class="button button-icon ion-android-arrow-back" ng-click="goBack()"></button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon ion-trash-b" ng-if="rol == 'teacher' && media.teacher.id == userData.id && !fromReport" ng-click="deleteMedia()"></button>
      <button class="button button-icon ion-edit" ng-if="rol == 'teacher' && media.teacher.id == userData.id && !fromReport" ng-click="editMedia()"></button>
      <button class="button button-icon ion-arrow-expand" ng-click="openFullScreen()" ng-if="media.media_material.type == 'type.video' && isAndroid"></button>
    </div>
  </ion-header-bar>

  <ion-content scroll="false" class="materialInfo-cont">

    <ion-scroll>

      <div>
        <iframe id="frameYoutube" src="{{'https://www.youtube.com/embed/' + media.media_material.uri + '?modestbranding=1&autohide=1&showinfo=0&controls=1&rel=0&fs=0&cc_load_policy=0'}}" ng-if="media.media_material.type == 'type.video'" frameborder="0" ></iframe>
        <audio controls src="{{'http://docs.google.com/uc?export=open&id=' + media.media_material.uri}}" ng-if="media.media_material.type == 'type.audio'"></audio>
        <img ng-src="{{'http://docs.google.com/uc?export=open&id=' + media.media_material.uri}}" ng-if="media.media_material.type == 'type.image'">
      </div>

      <p>{{media.name || "Indicación"}}</p>

      <p class="goal">
        <span ng-repeat="goal in media.goals track by $index" class="mediaForm-goal">{{goal.name}}</span>
      </p>

      <p>{{media.description}}</p>

      <div>
        <p>REQUERIMIENTOS</p>
        <p>{{media.requirements || 'No contempla.'}}</p>
      </div>

      <div>
        <p>NORMAS DE SEGURIDAD</p>
        <p>{{media.security || 'No contempla.'}}</p>
      </div>

      <div>
        <p>VARIANTES</p>
        <p>{{media.alternatives || 'No contempla.'}}</p>
      </div>

    </ion-scroll>

  </ion-content>
</ion-view>
