<ion-view>
  <ion-content scroll="false" class="reportList-cont">

    <ion-scroll>
      <p class="noResult-cont" ng-if="reportList.length == 0 && !loading">
        No se encontraron resultados
      </p>

      <div ng-repeat="report in reportList track by $index" ng-if="reportList.length > 0">
        <div>

          <div class="first-row-item">
            <p ng-click="openReport(report)">
              {{rol == 'student' ? report.title : (report.student | getUsername)}}
            </p>
            <button ng-click="moreOptionPop($event, report, $index)" ng-if="rol == 'teacher'">
              <i class="icon ion-ios-more"></i>
            </button>
            <!--<i class="icon ion-android-time"></i>-->
          </div>

          <div class="second-row-item" ng-click="openReport(report)">
            <p>{{rol == 'student' ? "Prof. " + (report.teacher | getUsername) : report.title}}</p>
          </div>

          <div class="third-row-item">
            <i class="icon ion-android-calendar"></i>
            <p>{{report.date | date: "EEE dd/MM/yyyy"}}</p>
            <i class="icon" ng-class="!report.report.feedback.value ? 'ion-ios-chatboxes-outline' : 'chatboxes-green ion-ios-chatboxes'" ></i>
          </div>

        </div>
      </div>

      <ion-infinite-scroll on-infinite="loadMore()" ng-if="moreData" immediate-check="true" distance="1%"></ion-infinite-scroll>
    </ion-scroll>

  </ion-content>
</ion-view>
