/************* FONTS *************/

@font-face {
  font-family: 'ChivoBlack';
  src: url('../../../fonts/Chivo-Black_0.otf');
}
@font-face {
  font-family: 'ChivoBold';
  src: url('../../../fonts/Chivo-Bold_0.otf');
}
@font-face {
  font-family: 'ChivoLight';
  src: url('../../../fonts/Chivo-Light_0.otf');
}
@font-face {
  font-family: 'ChivoRegular';
  src: url('../../../fonts/Chivo-Regular_0.ttf');
}


/************************** ICOMOON *********************************/

@font-face {
  font-family: 'icomoon';
  src: url('../../../fonts/icomoon.ttf?offsy') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list-ol:before {
  content: "\e900";
  font-size: 21px;
}


/*********************************** STUDENTS MODAL ************************************/

.studentsModal > ion-header-bar{
  background-color: #ffffff !important;
  border: 0 !important;
  background-image: none !important;
}

.studentsModal > ion-header-bar > div:first-of-type > button, .studentsModal > ion-header-bar > div > button:hover{
  color: #666666;
}
.studentsModal > ion-header-bar > div:last-of-type > button, .studentsModal > ion-header-bar > div > button:hover{
  color: #666666;
}
.studentsModal > ion-header-bar > div:first-of-type > button:before{
  font-size: 20px !important;
}
.studentsModal > ion-header-bar > div:last-of-type > button:before{
  font-size: 38px !important;
}

.studentsModal > ion-header-bar > div > button.active,
.studentsModal > ion-header-bar > div > button.activated{
  opacity: 0.7;
}

.studentsModal > ion-header-bar > h1 {
  text-align: left !important;
}

.studentsModal > ion-header-bar > h1 > input  {
  border: 0px;
  font-family: ChivoBold;
  color: rgb(102, 102, 102);
  margin-left: 18px;
}


.studentsModal > ion-content{
  background-color: #ffffff !important;
  padding: 25px;
  margin-bottom: 0px;
}

.studentsModal > ion-content > ion-scroll{
  height: 100%;
}

.studentsModal > ion-content > ion-scroll > div > span{
  display: table;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 4px 10px;
  margin-bottom: 8px;
  font-size: 14px;
  font-family: ChivoBold;
  color: #666666;
  background-color: #ffffff;
}
.studentsModal > ion-content > ion-scroll > div > span.active{
  color: #ffffff;
  background-color: #666666;
}

.studentsModal > p{
  height: 60px;
  line-height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: ChivoLight;
  color: #999999;
  font-size: 14px;
  margin: 0;
  padding: 0px 15px;
  border-top: 1px solid #dddddd;
}

/********************************** GOALS MODAL ********************************/

.goalsModal > ion-header-bar{
  background-color: #ffffff !important;
  border: 0 !important;
  background-image: none !important;
}

.goalsModal > ion-header-bar > div:first-of-type > button, .goalsModal > ion-header-bar > div > button:hover{
  color: #666666;
}
.goalsModal > ion-header-bar > div:last-of-type > button, .goalsModal > ion-header-bar > div > button:hover{
  color: #666666;
}
.goalsModal > ion-header-bar > div:first-of-type > button:before{
  font-size: 20px !important;
}
.goalsModal > ion-header-bar > div:last-of-type > button:before{
  font-size: 38px !important;
}

.goalsModal > ion-header-bar > div > button.active,
.goalsModal > ion-header-bar > div > button.activated{
  opacity: 0.7;
}

.goalsModal > ion-content{
  background-color: #ffffff !important;
  padding: 25px;
  margin-bottom: 60px;
}

.goalsModal.find > ion-content{
  margin-bottom: 0px;
}

.goalsModal > ion-content > ion-scroll{
  height: 100%;
}

.goalsModal > ion-content > ion-scroll > div > span{
  display: table;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 4px 10px;
  margin-bottom: 8px;
  font-size: 14px;
  font-family: ChivoBold;
  color: #666666;
  background-color: #ffffff;
}
.goalsModal > ion-content > ion-scroll > div > span.active{
  color: #ffffff;
  background-color: #666666;
}

.goalsModal > div{
  height: 60px;
  line-height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: ChivoLight;
  color: #999999;
  font-size: 14px;
  margin: 0;
  padding: 0px 15px;
  border-top: 1px solid #dddddd;
  clear: both;
}

.goalsModal > div > input{
  border: 0px;
  font-family: ChivoBold;
  color: rgb(102, 102, 102);
  line-height: 60px;
  height: 60px;
  float: left;
}

.goalsModal > div > i{
  float: right;
  font-size: 22px;
}

.goalsModal > ion-header-bar > h1 {
  left: 0 !important;
  text-align: left !important;
}

.goalsModal > ion-header-bar > h1 > input  {
  border: 0px;
  font-family: ChivoBold;
  color: rgb(102, 102, 102);
  margin-left: 18px;
}

.goalsModal.find > ion-header-bar > div > button:before{
font-size: 22px !important;
color: #cccccc;
margin-right: 5px;
margin-top: 4px;
}
.goalsModal.find > ion-header-bar > div > button.active,
.goalsModal.find > ion-header-bar > div > button.activated{
  opacity: .7;
}
/*********************** AUDIO MODAL **************************/

.audioModal > ion-header-bar{
  background-color: #09ccbe !important;
  border: 0 !important;
  background-image: none !important;
}

.audioModal > ion-header-bar > div > button, .audioModal > ion-header-bar > div > button:hover{
  color: #ffffff;
}
.audioModal > ion-header-bar > div > button:before{
  font-size: 20px !important;
}
.audioModal > ion-header-bar > div > button.active,
.audioModal > ion-header-bar > div > button.activated{
  opacity: 0.7;
}

.audioModal > ion-content{
  background-color: #09ccbe !important;
  text-align: center;
  padding: 25px;
}

.audioModal > ion-content > div > span{
  font-family: ChivoLight;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  padding: 20px 0;
}

.audioModal > ion-content > div:first-of-type{
  height: 60px;
}

.audioModal > ion-content > div:last-of-type{
  height: 130px;
  width: 130px;
  border-radius: 100%;
  background-color: #ffffff;
  color: #09ccbe;
  margin: 60px auto;
  box-shadow: 0px 2px 12px rgba(0,0,0,.2);
  transition: 0.5s;
  text-align: center;
}

.audioModal > ion-content > div:last-of-type.active,
.audioModal > ion-content > div:last-of-type.activated{
  height: 120px;
  width: 120px;
  margin: 65px auto;
  opacity: 0.7;

}

.audioModal > ion-content > div:last-of-type.active > i,
.audioModal > ion-content > div:last-of-type.activated > i{
  display: none;
}

.audioModal > ion-content > div > i{
  font-size: 48px;
  line-height: 130px;
}

.audioModal > ion-content > i{
  font-size: 30px;
  color: #ffffff;
}
.audioModal > ion-content > i.activated,
.audioModal > ion-content > i.active{
  opacity: 0.7;
}

.audioModal > ion-content > i:before {
  width: 60px;
  height: 60px;
  line-height: 60px;
}


/************************ POP UP MENU *********************************/

.menu-custom{
  position: absolute;
  right: 5px;
  margin-top: 8px;
}


.menu-custom > div{
  font-size: 14px;
  font-family: ChivoBold;
  color: #033333 !important;
  line-height: 30px;
  padding: 5px 15px 5px 50px;
  background-color: #efe8da !important;
  text-align: right;
  border: 0;
  border-color: #ffffff !important;
  border-bottom: 1px solid;
  margin-bottom: 1px;
}

.menu-custom > div:first-child{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.menu-custom > div:last-child{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 0;
}

.platform-ios.platform-cordova .menu-custom{
  margin-top: 28px;
}

.popover {
  height: inherit;
}

.platform-ios.platform-cordova .menu-custom.popOption {
  margin-top: -30px !important;
}

.noResult-cont{
  text-align: center;
  color: #999999;
  font-family: ChivoRegular;
  font-size: 14px;
  line-height: 30px;
}
.noResult-cont.left {
  text-align: left;
}
.noResult-cont.marginTop{
  margin-top: 50px;
}


/***************************** FEEDBACK MODAL *********************************/

.feedbackModal-cont{
  background-color: #f4f4f4;
}

.feedbackModal-cont > div{
  clear: both;
  height: 80px;
  padding: 10px;
  background-color: #ffffff;
}

.feedbackModal-cont > div > img{
  float: left;
  width: 60px;
  padding: 3px;
  pointer-events: none;
}

.feedbackModal-cont > div > div{
  float: right;
  width: 100%;
  margin-left: -60px;
  padding-left: 70px;
  height: 60px;
  position: relative;
}

.feedbackModal-cont > div > div > select{
  width: 100%;
  height: 60px;
  opacity: 0;
  position: absolute;
}

.feedbackModal-cont > div > div > p{
  pointer-events: none;
  width: 100%;
  line-height: 60px;
  font-family: ChivoBold;
  font-size: 15px;
  color: #033333;
  position: absolute;
}

.feedbackModal-cont > textarea{
  margin-top: 10px;
  background-color: #ffffff;
  padding: 15px;
  font-family: ChivoRegular;
  font-size: 14px;
  color: #999999;
  width: 100%;
}

/******************************** YOUTUBE MODAL ****************************************/

.youtube-rotate-btn{
  position: absolute;
  top: 25px;
  right: 20px;
  border-radius: 50%;
  min-width: 45px;
  max-width: 45px;
  min-height: 45px;
  max-height: 45px;
  background-image: url(../../../img/rotate.png);
  background-size: 27px 27px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 2px 12px rgba(0,0,0,.2);
}

.youtube-back-btn{
  position: absolute;
  top: 25px;
  left: 20px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 45px;
  box-shadow: 0px 2px 12px rgba(0,0,0,.2);
  min-width: 45px;
  max-width: 45px;
  min-height: 45px;
  max-height: 45px;
}


/************************ CONFIRM POPUP *******************************/

.confirm-pop > .popup{
  border-radius: 5px !important;
}

.confirm-pop > div > div > h3{
  font-family: ChivoBold;
  font-size: 16px;
  color: #6f6e6f;
}

.confirm-pop > div > div > h5{
  font-family: ChivoRegular;
  font-size: 15px;
  color: #6f6e6f;
}

.confirm-pop > div > div > button,
.confirm-pop > div > div > button:hover{
  font-family: ChivoBold;
  font-size: 15px;
  color: #ffffff;
  background-color: #09ccbe;
  border: 0;
}
.confirm-pop > div > div > button.active,
.confirm-pop > div > div > button.activated{
  background-color: #09ccbe;
  opacity: 0.8;
  border: 0;
}
