.onboarding-slide{
  height: 100%;
  width: 100%;
  background-color: #efe8da;
}

.onboarding-slide > .swiper-container > .swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #09ccbe;
}

.onboarding-slide > .swiper-container > .swiper-pagination {
  bottom: 0;
  background-color: rgba(255,255,255,0.5);
  line-height: 60px;
  height: 60px;
}

.onboarding-slide > div > div > div{
  height: 100%;
  width: 100% !important;
  text-align: center;
  padding-bottom: 80px;
  overflow-y: scroll;
  overflow: hidden;
}

.onboarding-slide > div > div > div > div{
  position: relative;
  width: 100%;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.onboarding-slide > div > div > div > div > img{
  max-width: 230px !important;
  margin-top: 60px !important;
}

.onboarding-slide > div > div > div > div > p{
  text-align: center;
  font-size: 16px;
  font-family: ChivoRegular;
  line-height: 20px;
  color: #333333;
  margin: 0 auto;
  max-width: 280px;
}

.onboarding-slide > div > div > div > div > p:first-of-type{
  font-size: 22px;
  font-family: ChivoBlack;
  line-height: 24px;
  margin-top: 30px;
}

.onboarding-slide > div > div > div >  div > div{
  height: 1px;
  border-bottom: 1px solid #09ccbe;
  width: 40px;
  margin: 25px auto;
}

.onboarding-buttons-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  transition: opacity 200ms;
}

.onboarding-buttons-container > div > div,
.onboarding-buttons-container > div > div:hover,
.onboarding-buttons-container > div > div.active,
.onboarding-buttons-container > div > div.activated{
  color: #c1bcb0;
  background-color: transparent;
  font-size: 12px !important;
  border: 0 !important;
}

.onboarding-buttons-container > div > div.button {
  z-index: 20;
}

.onboarding-buttons-container > div > div > i:before{
  font-size: 20px !important;
}

.onboarding-buttons-container > div > div > i.big:before{
  font-size: 25px !important;
}

.onboarding-enter-button, .onboarding-enter-button:hover {
  color: #ffffff;
  background-color: #09ccbe;
  font-size: 16px !important;
  font-family: ChivoBlack;
  border: 0 !important;
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 21;
}

.onboarding-enter-button.activated, .onboarding-enter-button.active{
  border: 0 !important;
  background-color: #0ca096;
}

@media (max-height: 570px){
  .onboarding-slide > div > div > div > img{
    max-width: 190px !important;
    margin-top: 50px !important;
  }
}
@media (max-height: 510px){
  .onboarding-slide > div > div > div > img{
    max-width: 180px !important;
    margin-top: 25px !important;
  }
}
