<ion-view>

  <ion-content scroll="false" class="headerMedia-cont">

    <ion-header-bar>
      <div class="buttons">
        <button class="button button-icon ion-android-arrow-back" ng-click="goBack()"></button>
      </div>
      <h1 class="title headerMedia-title center">
        <span ng-if="!searching">ADJUNTAR</span>
        <p ng-if="searching" ng-click="searchTapped(true)" class="search-goal">
          <span class="tab-search">{{search.keyword}}</span>
          <span class="tab-goal" ng-if="goal">{{goal.name}}</span>
        </p>
      </h1>
      <div class="buttons">
        <button class="button button-icon" ng-click="searchTapped()">
          <i class="icon" ng-class="{'ion-android-search': !searching, 'ion-android-close': searching}"></i>
        </button>
      </div>
    </ion-header-bar>

    <div class="bar bar-subheader row headerMedia-tab">
      <div class="col" ng-class="{'active': activeIndex == 0}"  ng-click="goTo('headerMedia.video')">
        <i class="icon ion-android-film"></i>
      </div>
      <div class="col" ng-class="{'active': activeIndex == 1}"  ng-click="goTo('headerMedia.image')">
        <i class="icon ion-image"></i>
      </div>
      <div class="col" ng-class="{'active': activeIndex == 2}" ng-click="goTo('headerMedia.sound')">
        <i class="icon ion-android-microphone"></i>
      </div>
      <div class="col">
        <button ng-click="popNewMedia()">
          <i class="icon ion-folder"></i>
          <i class="icon ion-android-add-circle"></i>
        </button>
      </div>
    </div>

    <ion-nav-view></ion-nav-view>

  </ion-content>

</ion-view>



