<ion-view>

  <ion-header-bar class="mediaForm-header">
    <div class="buttons">
      <button class="button button-icon ion-android-arrow-back" ng-click="goBack()"></button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon " ng-click="saveMedia()">
        {{media.type == 'image' ? 'crear nueva imagen' : '' | uppercase}}
        {{media.type == 'sound' ? 'crear nuevo audio' : '' | uppercase}}
        {{media.type == 'video' ? 'crear nuevo video' : '' | uppercase}}
        {{edit? 'guardar' : '' | uppercase}}
        <i class="icon ion-checkmark"></i>
      </button>
    </div>
  </ion-header-bar>

  <ion-content scroll="false" class="mediaForm-cont">

    <ion-scroll>

      <div>
        <video src="{{media.path}}" ng-if="media.type == 'video'" controls></video>
        <audio controls src="{{media.path}}" ng-if="media.type == 'sound'"></audio>
        <img ng-src="{{media.path}}" ng-if="media.type == 'image'" onerror="this.src=''">

        <iframe id="frameYoutube" src="{{'https://www.youtube.com/embed/' + media.media_material.uri + '?modestbranding=1&autohide=1&showinfo=0&controls=1&rel=0&fs=0&cc_load_policy=0'}}" ng-if="edit && media.media_material.type == 'type.video'" frameborder="0" ></iframe>
        <audio controls src="{{'http://docs.google.com/uc?export=open&id=' + media.media_material.uri}}" ng-if="edit && media.media_material.type == 'type.audio'"></audio>
        <img ng-src="{{'http://docs.google.com/uc?export=open&id=' + media.media_material.uri}}" ng-if="edit && media.media_material.type == 'type.image'">

      </div>

      <div>
        <p>NOMBRE</p>
        <input type="text" ng-model="media.name" placeholder="Escribí un nombre">
      </div>
      <div>
        <p>OBJETIVO</p>
        <div ng-click="openGoalModal()">
          <p class="goal">
            <span ng-if="!goalSelected.length">Indicá un objetivo</span>
            <span ng-repeat="goal in goalSelected track by $index" class="mediaForm-goal">{{goal.name}}</span>
          </p>
          <i class="icon ion-ios-arrow-thin-right"></i>
        </div>
      </div>
      <div>
        <p>DESCRIPCIÓN</p>
        <input type="text" ng-model="media.description" placeholder="Ingresá una descripción">
      </div>
      <div>
        <p>REQUERIMIENTOS</p>
        <input type="text" ng-model="media.requirements" placeholder="Detallá los requerimientos (opcional)">
      </div>
      <div>
        <p>NORMAS DE SEGURIDAD</p>
        <input type="text" ng-model="media.security" placeholder="Detallá las normas (opcional)">
      </div>
      <div>
        <p>VARIANTES</p>
        <input type="text" ng-model="media.alternatives" placeholder="Proponé algunas variantes (opcional)">
      </div>

    </ion-scroll>

  </ion-content>
</ion-view>
