<ion-view>

  <ion-content scroll="false" class="login-cont">

    <div class="login-header">
      <img src="img/logo.png">
    </div>

    <!---------------------- LOGIN ------------------------------->
    <form ng-submit="login()" name="loginForm" novalidate ng-if="step == 1">

      <div>
        <p ng-class="{'show': user.username && user.username.length != 0}">Email</p>
        <input type="text" ng-model="user.username" placeholder="Email" ng-class="{'placeholder': !user.username || user.username.length == 0}">
      </div>

      <div>
        <p ng-class="{'show': user.password && user.password.length != 0}">Contraseña</p>
        <input type="password" ng-model="user.password" placeholder="Contraseña" ng-class="{'placeholder': !user.password || user.password.length == 0}"/>
      </div>

      <button class="button">
        Iniciar Sesión
      </button>

    </form>

    <p class="login-extra-text" ng-if="step == 1"><span ng-click="setStep(2)">¿Olvidaste tu contraseña?</span></p>

    <!-------------------------- FORM ------------------------------->
    <form name="buttonLoginForm" novalidate ng-if="step == 2" class="form-step2">

      <button class="button button-step2" ng-click="setStep(3)">
        Obtener Código
      </button>

      <button class="button button-step2" ng-click="setStep(4)">
        Ingresar Código
      </button>

    </form>

    <p class="login-extra-text" ng-if="step == 2"><span ng-click="setStep(1)">Volver</span></p>

    <!---------------------- GET CODE ------------------------------->
    <form ng-submit="getCode()" name="getCodeForm" novalidate ng-if="step == 3">

      <div>
        <p ng-class="{'show': user.username && user.username.length != 0}">Email</p>
        <input id="firstInput" type="text" ng-model="user.username" placeholder="Email" ng-class="{'placeholder': !user.username || user.username.length == 0}">
      </div>

      <button class="button">
        Enviar
      </button>

    </form>

    <p class="login-extra-text" ng-if="step == 3"><span ng-click="setStep(2)">Volver</span></p>

    <!---------------------- SEND CODE ------------------------------->
    <form ng-submit="recoveryPass()" name="sendCodeloginForm" novalidate ng-if="step == 4">

      <div>
        <p ng-class="{'show': user.code && user.code.length != 0}">Código</p>
        <input id="firstInput2" type="text" ng-model="user.code" placeholder="Código" ng-class="{'placeholder': !user.code || user.code.length == 0}">
      </div>
      <div>
        <p ng-class="{'show': user.newPass && user.newPass.length != 0}">Nueva Contraseña</p>
        <input type="text" ng-model="user.newPass" placeholder="Nueva Contraseña" ng-class="{'placeholder': !user.newPass || user.newPass.length == 0}">
      </div>
      <div>
        <p ng-class="{'show': user.newPass2 && user.newPass2.length != 0}">Confirmar Contraseña</p>
        <input type="text" ng-model="user.newPass2" placeholder="Confirmar Contraseña" ng-class="{'placeholder': !user.newPass2 || user.newPass2.length == 0}">
      </div>

      <button class="button">
        Enviar
      </button>

    </form>

    <p class="login-extra-text" ng-if="step == 4"><span ng-click="setStep(2)">Volver</span></p>


    <div class="login-footer2 hide-on-keyboard-open">
      <p>¿No conocés nuestros servicios? <span ng-click="goServices()">Entrá aquí</span></p>
    </div>

    <!--<div class="login-footer hide-on-keyboard-open">-->
      <!--<img src="img/logo-gotta.png">-->
    <!--</div>-->

  </ion-content>

</ion-view>
