<div class="pop-push">
  <div class="icon ion-android-notifications-none pop-push-icon custom-color-icon"></div>
  <div class="pop-push-title text-main-bold">
    {{title}}
  </div>
  <div class="pop-push-message text-secondary-small">
    {{subTitle}}
  </div>
  <button class="button button-block main-color button-pop-push font-medium" ng-click="closePopPush()">
    VOLVER
  </button>
</div>
