<ion-view>

  <ion-header-bar class="newReport-header">

    <div class="buttons">
      <button class="button button-icon ion-android-arrow-back" ng-click="goBack()"></button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button icon-right ion-android-send" ng-click="sendRoutine()">
        {{context ? 'GUARDAR RUTINA' : 'PUBLICAR RUTINA'}}
      </button>
    </div>

  </ion-header-bar>

  <ion-content scroll="false" class="newReport-cont">

    <ion-scroll>

      <div class="newReport-item-icon" ng-class="{'student': studentSelected()}" ng-click="openStudentModal()">
        <i class="icon ion-android-person"></i>
        <div>
          <p ng-if="!studentSelected()">Seleccioná un estudiante</p>
          <span ng-repeat="student in routine.students track by $index" ng-if="student.selected">
            {{student | getUsername}}
            <!--<i class="icon ion-close-circled" ng-click="student.selected = false"></i>-->
          </span>
        </div>
      </div>

      <input type="text" class="newReport-item-title" placeholder="Escribí un título para la rutina" ng-model="routine.title"/>
      <textarea class="newReport-item-description" rows="4" placeholder="Escribí un resumen" ng-model="routine.resume"></textarea>

      <div class="newReport-item-icon margin-top">
        <i class="icon ion-navicon-round"></i>
        <div>
          <p>Pasos · {{routine.steps.length || '0'}}
            <span ng-click="expand('expandStep')">
              {{routine.expandStep ? '-' : '+'}}
            </span>
          </p>
        </div>
      </div>

      <div class="newReport-material-cont newRoutine-step" ng-if="routine.expandStep" ng-repeat="step in routine.steps track by $index">
        <input type="text" class="newReport-item-title" placeholder="Escribí un título" ng-model="step.title"/>
        <textarea class="newReport-item-description" rows="4" placeholder="Escribí un resumen (opcional)" ng-model="step.description"></textarea>
      </div>

    </ion-scroll>

  </ion-content>

  <div class="newReport-item-icon sticky" ng-click="createStep()">
    <i class="icon ion-navicon-round"></i>
    <div>
      <p>CREAR NUEVO PASO</p>
    </div>
  </div>

</ion-view>
