<ion-view>
  <ion-content scroll="false" class="routineList-cont">

    <ion-scroll>

      <p class="noResult-cont" ng-if="routines.length == 0 && !loading">
        No se encontraron resultados
      </p>

      <div ng-repeat="routine in routines track by $index" ng-if="routines.length > 0">
        <div>

          <div class="first-row-item-routine">
            <p ng-click="openRoutine(routine)">
              {{rol == 'student' ? routine.title : (routine.student | getUsername)}}
            </p>
            <button ng-if="rol == 'teacher'" ng-click="moreOptionPop($event, routine, $index)">
              <i class="icon ion-ios-more"></i>
            </button>
            <!--<i class="icon ion-android-time"></i>-->
          </div>

          <div class="second-row-item-routine" ng-click="openRoutine(routine)">
            <p>{{rol == 'student' ? "Prof. " + (routine.teacher | getUsername) : routine.title }}</p>
          </div>

          <div class="third-row-item-routine">
            <i class="icon ion-android-calendar"></i>
            <p>{{routine.created_at | date: "EEE dd/MM/yyyy"}}</p>
            <i class="icon" ng-class="!routine.step_completed ? 'ion-ios-circle-outline' : 'chatboxes-green ion-ios-checkmark'"></i>
            <i class="icon" ng-class="!routine.feedback.value ? 'ion-ios-chatboxes-outline' : 'chatboxes-green ion-ios-chatboxes'"></i>
          </div>

        </div>
      </div>

      <ion-infinite-scroll on-infinite="loadMore()" ng-if="moreData" immediate-check="true" distance="1%"></ion-infinite-scroll>

    </ion-scroll>

  </ion-content>
</ion-view>
