<ion-view>

  <ion-header-bar class="mediaForm-header">
    <div class="buttons">
      <button class="button button-icon ion-android-arrow-back" ng-click="goBack()"></button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon " ng-click="createStudent()" ng-disabled="!user.firstName || !user.lastName || !user.email || !validation.checked">
        AGREGAR ESTUDIANTE
        <i class="icon ion-checkmark"></i>
      </button>
    </div>
  </ion-header-bar>

  <ion-content scroll="false" class="mediaForm-cont">

    <ion-scroll class="newStudent-center">

      <div class="newStudent-border">
        <p>EMAIL</p>
        <input type="email" ng-model="user.email" placeholder="Ingresá el email" ng-change="validation.checked = false">
      </div>

      <button class="button newStudent-item-check" ng-click="checkStudent()">
        VERIFICAR
      </button>

      <p class="newStudent-serviceDescription" ng-if="validation.checked && validation.exists">
        <b>El estudiante ya existe. </b><br>
        Presiona "AGREGAR ESTUDIANTE" para vincularlo a la academia.
      </p>

      <p class="newStudent-serviceDescription" ng-if="validation.checked && !validation.exists">
        <b>El estudiante no existe.</b><br>
        Ingresa nombre, apellido y luego presiona "AGREGAR ESTUDIANTE" para vincularlo a la academia.
      </p>

      <div ng-if="validation.checked" class="newStudent-border">
        <p>NOMBRE</p>
        <input type="text" ng-model="user.firstName" placeholder="Ingresá el nombre" ng-disabled="validation.exists">
      </div>
      <div ng-if="validation.checked" class="newStudent-border">
        <p>APELLIDO</p>
        <input type="text" ng-model="user.lastName" placeholder="Ingresá el apellido" ng-disabled="validation.exists">
      </div>

    </ion-scroll>

  </ion-content>
</ion-view>
