<ion-view>
  <ion-content scroll="false" class="services-cont">

    <div class="services-header">
      <img src="img/logo.png">
      <div class="tabs-buttons" ng-class="flagPlatform ? 'btn-header-android' : 'btn-header-ios'">
        <button class="button back" ng-click="goBack()">
          <i class="icon ion-android-arrow-back"></i>
        </button>
      </div>
    </div>

    <ion-scroll>
      <ion-list class="services-list">
        <div ng-repeat="platform in platforms">
          <div class="item item-divider services-list-header">
            {{platform | uppercase}}
          </div>
          <ion-item class="item item-icon-right service-item" ng-repeat="service in services[platform]" ng-click="serviceClicked(service, platform)">
            {{service.name}}
            <i class="icon ion-android-open"></i>
          </ion-item>
        </div>
      </ion-list>
    </ion-scroll>

  </ion-content>
</ion-view>
