<ion-view>

  <ion-header-bar class="mediaForm-header">
    <div class="buttons">
      <button class="button button-icon ion-android-arrow-back" ng-click="goBack()"></button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon " ng-click="saveChanges()">
        GUARDAR
        <i class="icon ion-checkmark"></i>
      </button>
    </div>
  </ion-header-bar>

  <ion-content scroll="false" class="mediaForm-cont">

    <ion-scroll>

      <div>
        <p>CONTRASEÑA ACTUAL</p>
        <input type="password" ng-model="user.oldPass" placeholder="Ingresá tu contraseña actual">
      </div>
      <div>
        <p>NUEVA CONTRASEÑA</p>
        <input type="password" ng-model="user.newPass" placeholder="Ingresá tu nueva contraseña">
      </div>
      <div>
        <p>NUEVA CONTRASEÑA (CONFIRMACIÓN)</p>
        <input type="password" ng-model="user.newPass2" placeholder="Ingresá la confirmación">
      </div>

    </ion-scroll>

  </ion-content>

</ion-view>
