.material-cont{
  background-color: #eeeeee !important;
}

.materialList-cont {
  background-color: #f4f4f4;
}

.materialList-cont > ion-nav-view {
  position: absolute;
  top: 37px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  background-color: #f4f4f4 !important;
}

.materialList-cont > div{
  height: 44px;
  border-bottom: 2px solid rgba(0,0,0,0.05);
  margin-top: -8px;
}

.materialList-cont > div > div{
  height: 42px;
  width: 100%;
  clear: both;
  padding: 0 !important;
  border-bottom: 0 !important;
  background-color: transparent;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-image: none !important;
}

.materialList-cont > div > div > div{
  text-align: center;
  padding: 0 !important;
  border-bottom: 0;
}

.materialList-cont > div > div > div > i{
  color: #cccccc;
  font-size: 20px;
  line-height: 35px;
}

.materialList-cont > div > div > div.active > i{
  color: #09ccbe !important;
}

.materialList-first-row-item{
  height: 50px;
  background: transparent;
  clear: both;
}

.materialList-first-row-item > p{
  float: left;
  height: 50px;
  width: 100%;
  background: transparent;
  padding: 0px;
  margin: 0;
  font-size: 14px !important;
  line-height: 25px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: ChivoBlack;
}

.materialInfo-cont{
  background-color: #ffffff;
}

.materialInfo-cont > ion-scroll{
  width: 100%;
  height: 100%;
}

.materialInfo-cont > ion-scroll > div > div:first-of-type{
  max-height: 250px;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.materialInfo-cont > ion-scroll > div > div:first-of-type > img{
  max-width: 100%;
  max-height: 220px;
}
.materialInfo-cont > ion-scroll > div > div:first-of-type > video,
.materialInfo-cont > ion-scroll > div > div:first-of-type > audio{
  width: 100%;
  max-height: 220px;
}

.materialInfo-cont > ion-scroll > div > div:nth-child(2){
  border-top: 1px solid #dddddd;
}

.materialInfo-cont > ion-scroll > div > div:not(:first-of-type){
  min-height: 60px;
  padding: 15px;
  overflow: hidden;
}

.materialInfo-cont > ion-scroll > div > div > p:first-of-type{
  color: #09ccbe;
  font-size: 14px;
  font-family: ChivoBold;
  line-height: 18px;
  margin: 0;
}
.materialInfo-cont > ion-scroll > div > div > p:nth-of-type(2){
  color: #999999;
  font-size: 14px;
  font-family: ChivoLight;
  line-height: 18px;
  margin: 0;
  padding-top: 5px;
}

.materialInfo-cont > ion-scroll > div > p:first-of-type {
  color: #033333;
  font-family: ChivoBold;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 15px 0;
  border-top: 1px solid #dddddd;
}

.materialInfo-cont > ion-scroll > div > p:nth-of-type(2) {
  padding: 0px 15px 0;
}

.materialInfo-cont > ion-scroll > div > p:nth-of-type(3) {
  color: #666666;
  font-family: ChivoLight;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 15px 0;
}
