<ion-modal-view class="modalVersionView">
  <ion-content scroll="false" class="modalVersion-cont">

    <div>
      <img src="img/icon.png" class="modalVersion-image">
      <p class="modalVersion-text main-font">
        Existe una nueva versión de la aplicación. <br> Puedes actualizarla ahora mismo, presionando el siguiente botón
      </p>
      <div class="button modalVersion-button" ng-click="goToStore()">Actualizar</div>
    </div>

  </ion-content>
</ion-modal-view>

<!-- DEFINICION DE ESTILOS -->

<style>
  .modalVersionView > ion-content{
    background-color: #efe8da;
    text-align: center;
  }

  .modalVersionView > ion-content > div {
    position: absolute;
    top: 48%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .modalVersionView > ion-content > div > img{
    max-width: 130px;
    max-height: 130px;
  }

  .modalVersionView > ion-content > div > p {
    margin-top: 5px;
    font-size: 15px;
    padding: 20px;
  }

  .modalVersionView > ion-content > div > div.button,
  .modalVersionView > ion-content > div > div.button:hover {
    padding: 0 30px;
    padding: 0 50px;
    margin-top: 30px;
    background-color: #09ccbe;
    color: #ffffff;
    font-family: ChivoBlack;
    font-size: 15px;
    border: 0;
    line-height: 46px;
  }
  .modalVersionView > ion-content > div > div.button.active,
  .modalVersionView > ion-content > div > div.button.activated {
    background-color: #09ccbe;
    opacity: 0.7;
  }

  .main-font{
    font-family: ChivoRegular;
    color: #666666;
  }

</style>

