.routineList-cont {
  background-color: #f4f4f4;
}

.routineList-cont > ion-scroll {
  width: 100%;
  height: 100%;
}

.routineList-cont > ion-scroll > div > div > div{
  height: 100px;
  width: 100%;
  background: white;
  margin-bottom: 3px;
  padding: 12.5px;

}

.first-row-item-routine{
  height: 25px;
  background: transparent;
  clear: both;
}

.first-row-item-routine > p{
  float: left;
  height: 25px;
  width: calc(100% - 60px);
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 15px !important;
  line-height: 25px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-family: ChivoBlack;
}

.first-row-item-routine > button,
.first-row-item-routine > button:hover{
  float: right;
  height: 25px;
  width: 30px;
  color: #9C999C;
  background: transparent;
  border: 0;
}

.first-row-item-routine > i{
  text-align: center;
  float: right;
  height: 25px;
  width: 30px;
  color: #9C999C;
  background: transparent;
  border: 0;
  line-height: 25px;
  font-size: 15px;
}

.first-row-item-routine > button.activated,
.first-row-item-routine > button:active{
  opacity: 0.8;
}

.second-row-item-routine{
  height: 25px;
  background: transparent;
  clear: both;
  color: #9C999C;
}

.second-row-item-routine > i{
  float: left;
  height: 100%;
  width: 20px;
  background: transparent;
  line-height: 25px;
  text-align: left;
  font-size: 15px;
}

.second-row-item-routine > p{
  float: left;
  height: 20px;
  width: calc(100% - 25px);
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  display: -webkit-box;
  font-family: ChivoRegular;
}

.third-row-item-routine{
  height: 25px;
  background: transparent;
  clear: both;
  color: #9C999C;
}

.third-row-item-routine > i{
  height: 100%;
  width: 30px;
  background: transparent;
  line-height: 25px;
  text-align: center;
  float: right;
  font-size: 15px;
}

.third-row-item-routine > i:first-child{
  float: left !important;
  text-align: left !important;
  width: 20px !important;
}

.third-row-item-routine > p{
  float: left;
  height: 25px;
  width: calc(100% - 85px);
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 25px;
  display: -webkit-box;
  font-family: ChivoRegular;
}

.chatboxes-green{
  color: #09ccbe !important;
}

/************************** ROUTINE *******************************/


.routine-item-icon{
  background-color: #ffffff;
  clear: both;
  overflow: hidden;
  border-top: 1px solid #f4f4f4;
  padding: 15px 0;
}

.routine-item-icon > i{
  line-height: 35px;
  float: left;
  width: 30px;
  color: #c1bcb0;
  text-align: center;
  padding-left: 15px;
  font-size: 18px;
}

.routine-item-icon > i > ion-spinner > svg{
  width: 15px;
  height: 15px;
  color: #09ccbe !important;
}

.routine-item-icon > i.completed{
  color: #09ccbe;
}

.routine-item-icon > div:first-of-type{
  float: left;
  width: 80%;
  line-height: 25px;
  font-family: ChivoBold;
  font-size: 15px;
  color: #033333;
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.routine-item-icon > p:first-of-type{
  float: left;
  width: 100%;
  line-height: 22px;
  font-family: ChivoRegular;
  font-size: 14px;
  color: #999999;
  padding-left: 44px;
  white-space: pre;
}

.routine-no-border{
  border: 0 !important;
}

/****************************** NEW ROUTINE ****************************/

.newRoutine-step {
  padding: 0 !important;
  margin-bottom: 0 !important;
  border-bottom: 1px solid #f4f4f4 !important;
}
.newRoutine-step:last-of-type{
  margin-bottom: 30px !important;
}
