<ion-view>
  <ion-content scroll="false">

    <ion-slides options="options" slider="data.slider" class="onboarding-slide">

      <ion-slide-page>
        <div>
          <img src="components/onboarding/img/img1.png">
          <p>Informes</p>
          <div></div>
          <p>Creá y consultá informes por clase de tus estudiantes.</p>
        </div>
      </ion-slide-page>

      <ion-slide-page>
        <div>
          <img src="components/onboarding/img/img2.png">
          <p>Rutinas</p>
          <div></div>
          <p>Indicá una serie de pasos a completar para tus estudiantes.</p>
        </div>
      </ion-slide-page>

      <ion-slide-page ng-if="rol == 'teacher'">
        <div>
          <img src="components/onboarding/img/img3.png">
          <p>Estudiantes</p>
          <div></div>
          <p>Podés consultar los historiales de tus estudiantes.</p>
        </div>
      </ion-slide-page>

      <ion-slide-page>
        <div>
          <img src="components/onboarding/img/img4.png">
          <p>Materiales</p>
          <div></div>
          <p>Cargá audios, imágenes o videos para utilizar en los informes.</p>
        </div>
      </ion-slide-page>

    </ion-slides>

    <button class="onboarding-enter-button" ng-if="slider.slides.length - 1 == slider.activeIndex" ng-click="goTo('academyList')">
      Ingresar
    </button>

    <div class="onboarding-buttons-container">
      <div class="row">
        <div class="col button" ng-click="slider.slideTo(slider.slides.length - 1, 0)">
          <i class="icon ion-close"></i>
        </div>
        <div class="col"></div>
        <div class="col button" ng-click="slider.slideNext()">
          <i class="icon ion-android-arrow-forward big"></i>
        </div>
      </div>
    </div>

  </ion-content>

</ion-view>
