.services-cont {
  background-color: #f4f4f4;
}

.services-cont > div.services-header {
  height: 30%;
  background-color: #09ccbe;
  text-align: center;
}

.services-cont > div.services-header > img {
  height: 40%;
  max-height: 200px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.services-cont > ion-scroll {
  height: 70%;
}

.services-cont .services-list {
  font-size: 16px;
}

.services-cont .services-list .item {
  color: #333333;
  border: none;
}

.services-cont .services-list .services-list-header {
  border: none;
  margin-bottom: 0;
  color: #09ccbe;
  font-size: .8em;
  font-weight: 200;
  background-color: white;
}

.services-cont .services-list .service-item .icon {
  color: #999999;
  font-size: 1.4em;
}
