.studentList-cont {
  background-color: #f4f4f4;
}

.studentList-cont > ion-scroll {
  width: 100%;
  height: 100%;
}

.item-student-list{
  background: white;
  height: 50px;
  margin-bottom: 3px;
  padding: 0 15px;
}
.item-student-list.selected{
  margin: 0;
}

.item-student-list > p{
  float: left;
  width: calc(100% - 60px);
  height: 30px;
  font-family: ChivoBlack;
  font-size: 15px;
  line-height: 30px;
  margin: 10px 0 0 0;
}

.item-student-list > button, .item-student-list > button:hover{
  float: right;
  height: 30px;
  width: 30px;
  background: transparent;
  border: 0;
  margin-top: 10px;
  color: #9C999C;
  font-size: 15px;
}

.item-student-list > button.activated, .item-student-list > button:active{
  opacity: 0.8;
  border: 0;
}

.item-student-option{
  font-family: ChivoLight;
  color: #666666;
  font-size: 14px;
  height: 100px;
  margin-bottom: 3px;
}
.item-student-option > div{
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #eeeeee;
  padding: 0 15px;
  background-color: #ffffff;
  clear: both;
}
.item-student-option > div > i{
  color: #cccccc;
  font-size: 20px;
  margin-right: 15px;
  float: left;
}
.item-student-option > div > p{
  width: 70%;
  line-height: 50px;
  height: 50px;
  float: left;
  margin: 0;
}

.newStudent-item-check{
  margin: 20px auto 40px;
  width: 80%;
  font-family: ChivoBlack;
  font-size: 14px;
  color: #666666;
  border: 0 !important;
}

.newStudent-border{
  border-bottom: 1px solid #dddddd;
}

.newStudent-center{
  text-align: center;
}

.newStudent-serviceDescription{
  padding: 0 15px;
  color: #666666;
  font-family: ChivoRegular;
  line-height: 18px;
  text-align: left;
  margin-bottom: 25px;
}
