<ion-modal-view class="goalsModal">
  <ion-header-bar>
    <div class="buttons">
      <!--<button class="button button-icon ion-android-arrow-back" ng-click="hideGoalModal()"></button>-->
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon ion-ios-checkmark-empty" ng-click="hideGoalModal()"></button>
    </div>
  </ion-header-bar>

  <ion-content scroll="false">

    <ion-scroll>

      <p class="noResult-cont left" ng-if="goalList.length == 0 && !goalSelected && !loadingGoals">
        No se encontraron resultados
      </p>

      <span class="active" ng-repeat="goal in goalSelected track by $index" ng-click="setGoal(goal)">
        {{goal.name}}
      </span>

      <span ng-repeat="goal in goalList track by $index" ng-click="setGoal(goal)" ng-if="!isSelected(goal.id)">
        {{goal.name}}
      </span>

      <ion-infinite-scroll on-infinite="loadMoreGoals()" ng-if="moreGoals" immediate-check="true" distance="1%"></ion-infinite-scroll>

    </ion-scroll>

  </ion-content>

  <div>
    <input ng-model="search.keyword" placeholder="Cargar un nuevo objetivo" ng-change="filterGoals()">
    <i class="icon ion-android-add-circle" ng-click="newGoal()"></i>
  </div>

</ion-modal-view>
