<ion-modal-view class="studentsModal">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-icon ion-android-arrow-back" ng-click="cancelStudentChanges()"></button>
    </div>
    <h1 class="title">
      <input ng-model="search.keyword" placeholder="Buscar...">
    </h1>
    <div class="buttons">
      <button class="button button-icon ion-ios-checkmark-empty" ng-click="confirmStudentChange()"></button>
    </div>
  </ion-header-bar>

  <ion-content scroll="false">

    <ion-scroll>
      <p class="noResult-cont" ng-if="!((report.students || routine.students) | getStudents: search.keyword).length && !loading">
        No se encontraron resultados
      </p>

      <span ng-repeat="student in (report.students || routine.students) | getStudents: search.keyword track by $index"
            ng-click="student.selected ? student.selected = false : student.selected = true"
            ng-class="{'active': student.selected}">
          {{student | getUsername}}
        </span>
    </ion-scroll>

  </ion-content>

</ion-modal-view>
